In [1]:
pip install mrjob

Collecting mrjob
  Downloading mrjob-0.7.4-py2.py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: PyYAML>=3.10 in c:\users\ankit\appdata\local\programs\python\python312\lib\site-packages (from mrjob) (6.0.1)
Downloading mrjob-0.7.4-py2.py3-none-any.whl (439 kB)
Installing collected packages: mrjob
Successfully installed mrjob-0.7.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from collections import defaultdict

# Load dataset
df = pd.read_csv('weather_data.csv')

# Print columns to debug
print(df.columns)

# Ensure no leading/trailing spaces in column names
df.columns = df.columns.str.strip()

# Extract year and temperature
df['Year'] = pd.to_datetime(df['Date_Time']).dt.year
df['Temperature'] = df['Temperature_C'].astype(float)

# Mapper: Emit (year, temperature)
mapped_data = df[['Year', 'Temperature']].values

# Reducer: Aggregate by year and compute average temperature
yearly_temps = defaultdict(list)
for year, temp in mapped_data:
    yearly_temps[year].append(temp)

avg_temps = {year: sum(temps)/len(temps) for year, temps in yearly_temps.items()}

# Find hottest and coolest years
hottest_year = max(avg_temps, key=avg_temps.get)
coolest_year = min(avg_temps, key=avg_temps.get)

print(f"Hottest Year: {hottest_year} with Avg Temp: {avg_temps[hottest_year]}째C")
print(f"Coolest Year: {coolest_year} with Avg Temp: {avg_temps[coolest_year]}째C")

Index(['Location', 'Date_Time', 'Temperature_C', 'Humidity_pct',
       'Precipitation_mm', 'Wind_Speed_kmh'],
      dtype='object')
Hottest Year: 2024.0 with Avg Temp: 14.779704927042093째C
Coolest Year: 2024.0 with Avg Temp: 14.779704927042093째C

In [5]:
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh,Year,Temperature
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540,2024,10.683001
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161,2024,8.734140
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951,2024,11.632436
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303,2024,-8.628976
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622,2024,39.808213